{% extends "base.html" %}{% load static %} {% block hero %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('images/hero_bg_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">

                <p>This Is The Day, Party, Party!</p>
                <p>May 16, 2016 <span class="mx-3">&bullet;</span> By Admin</p>
            </div>
        </div>
    </div>
</div>
{% endblock hero %} {% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <figure>
                    <img src="images/hero_bg_1.jpg" alt="Image" class="img-fluid">
                    <figcaption>This is an image</figcaption>
                </figure>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ratione dolores expedita id repudiandae nostrum aut, impedit repellat nam veritatis, pariatur facere reprehenderit alias atque molestias ipsum officia asperiores possimus
                    eos, quis nemo hic. Autem molestias dolorum blanditiis quibusdam culpa nobis quam, soluta quasi quis, fugiat delectus pariatur, eos quae.</p>
                <p>Sequi mollitia architecto accusamus laborum nemo harum pariatur, earum magnam nihil consequuntur similique quas quae inventore dolorem ut quibusdam aliquam vel unde at explicabo! Esse saepe cupiditate nobis rerum soluta error alias explicabo
                    reprehenderit pariatur! Architecto minus aliquid reiciendis iure, optio officia at a autem non blanditiis deserunt in labore.</p>
                <p>Quia mollitia, at labore eveniet perspiciatis accusantium molestiae tempore quos placeat quam laudantium tenetur ut distinctio maiores minus beatae et vero suscipit, excepturi veritatis veniam. Aliquam eaque laborum obcaecati. Perferendis,
                    assumenda vel facilis fuga libero tempora reprehenderit dolorum corrupti eligendi ut rem aut magni eius possimus sed! Culpa, libero, eius.</p>
                <p>Optio repellat libero aliquam delectus ipsa officia voluptatibus repellendus fugiat earum? Nam, sunt? Dolor at ullam aperiam iusto deserunt, nulla libero illo veniam totam tenetur inventore voluptates nemo atque, nam. Voluptas dignissimos
                    minus voluptatem molestiae? Nihil hic, consequuntur perspiciatis sapiente, doloremque impedit ipsa doloribus sed saepe ratione dicta voluptatibus at!</p>
                <p>Obcaecati voluptatem ea vitae id doloremque hic. Perspiciatis quia libero consectetur unde ullam, veritatis voluptate laborum enim quos, atque quasi animi sapiente beatae inventore obcaecati, esse rem ducimus quam officia ipsum temporibus
                    repellendus facere. Explicabo delectus, magni eum voluptatibus nemo totam reprehenderit dolores deserunt rerum suscipit aperiam culpa, cupiditate nam.</p>



            </div>



        </div>
    </div>
</div>
{% endblock content %}